:root {
  --header-height: 70px;

  --bg-base: #1a2232;
  --bg-primary: linear-gradient(180deg, #ff8036 0%, #fc6d19 100%);
  --bg-secondary:rgba(31, 41, 61);

  --gap: 8px;
  --gap-step: 4px;
  --gap-double: calc(var(--gap) * 2);

  --txt-primary-color: #ff8036;
  --txt-primary-shadow: 0px 0px 16px rgba(255, 128, 54, 0.5);
  --txt-secondary-color: #637394;

  --shadow-primapy: 1px solid rgba(109, 158, 255, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: #485c63;
}

html::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  min-height: 100vh;
  background-color: var(--bg-base);
}

@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}
