:root {
  --bg-base: #1A2232;
  --bg-primary:  linear-gradient(180deg, #FF8036 0%, #FC6D19 100%);

  --gap: 8px;
  --gap-step: 4px;
  --gap-double: calc(var(--gap) *2);

  --txt-secondary-color: #637394;

}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
body {
  min-height: 100vh;
  background-color: var(--bg-base);
}

#app {
  padding: var(--gap-double);
}

@media (min-width: 600px){
  html {
    font-size: 18px;
  }
}